body{
    background-color: white;
    color: rgb(15, 20, 25);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding-left:0%;
}
ul.nav-bar-options a{
    color: rgb(15, 20, 25);
}
ul.nav-bar-options li{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
ul.nav-bar-options li:hover{
    background-color: rgba(15, 25, 20, 0.1);
    border-radius: 20px;
}


div.perfil-publicacion-options a{
    color: rgb(15, 20, 25);
    padding-right: 20px;
    padding-left: 20px;
}
div.perfil-publicacion-options a:hover{
    background-color: rgba(15, 25, 20, 0.1);
    border-radius: 20px;
}


ul.perfil-more{
    padding-left: 20px;
}
ul.perfil-more li{
    display: inline;
}
ul.perfil-more li:hover{
    text-decoration: underline;
}

ul.perfil-statistic{
    padding-left: 20px;
}
ul.perfil-statistic li{
    display: inline;
}
ul.perfil-statistic a{
    color: rgb(83, 100, 113);
}
ul.perfil-statistic span{
    color: rgb(15, 20, 25);
    font-weight: bold;
}
ul.perfil-statistic li:hover{
    text-decoration: underline;
}

div.perfil-information img{
    border-radius: 50%;
}

div.tzeet-actions a{
    color: rgb(83, 100, 113);
    padding-left: 20px;
    padding-right: 20px;
}
a#reply:hover,a#share:hover{
    background-color: rgba(29, 155, 240, 0.1);
    color: rgba(29, 155, 240, 1);
}
a#retzeet:hover{
    background-color: rgba(0, 186, 124, 0.1);
    color: rgba(0, 186, 124, 1);
}
a#like:hover{
    background-color: rgba(249, 24, 128, 0.1);
    color: rgba(249, 24, 128, 1);
}

div.perfil-information h2,p{
    color: rgb(15, 20, 25);
}
span.nickname, span#date-tzeet,ul.perfil-more a{
    color: rgb(83,100,113);
}
div.tzeet{
    padding-top: 10px;
}
div.tzeet:hover{
    background-color: rgba(0,0,0,0.03);
}